<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ihm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2EC6815D1BC5929B00D0B2CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EC681711BC5929B00D0B2CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EC6817C1BC5929B00D0B2CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
